/Botiquin.class
/Item.class
/Pocion.class
/PocionDeAtaque.class
/PocionDeDefensa.class
/PocionDeRetirada.class
/Trampa.class
/TrampaQuitarVida.class
/TrampaReducirAtaque.class
/TrampaReducirDefensa.class
/Vendas.class
